body {
  background-image: url("galaxy2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: antiquewhite;
  font-family: "Oswald";
  font-size: 50px;
  font-weight: 300;
}
.logoContainer {
  display: flex;
  flex-direction: row;
}
.logo1 {
  height: 150px;
  border-radius: 20px;
}
.logotxt {
  text-shadow: 2px 2px 2px rgb(97, 97, 203);
}
.header {
  display: flex;
  justify-content: space-between;
}
.textContainer {
  margin: auto;
  align-self: center;
  display: flex;

  width: 800px;
  background-color: black;
  color: antiquewhite;
}
